<div class="container marketing" ng-controller="bookController">
	<h1>Select the genres to add</h1>
	<div class="col-md-10">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination4.prevPage()">&laquo;</a></li>
			<li class="page-item"
				ng-repeat="n in [] | range: pagination4.numPages"
				ng-class="{active: n == pagination4.page}"><a class="page-link"
				href="" ng-click="pagination4.toPageId(n)">{{n + 1}}</a></li>
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination4.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<div id="listOfGenres">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Genre Name</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="genre in ::genres | startFrom: pagination4.page * pagination4.perPage | limitTo: pagination4.perPage">
					<td>{{$index+1}}</td>
					<td>{{genre.genreName}}</td>
					<th scope="col"><button type="button" class="btn btn-primary"							
							ng-click="addToGenresList(genre)">Add Genre</button></th>
				</tr>
			</tbody>
		</table>
		<div>
			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#addModal">Add New Genre</button>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button type="button" class="btn btn-primary"
				ng-click="setGenresList()" data-toggle="modal"
				data-target="#addBookNameModal">Next</button>
		</div>
	</div>
	<!-- START- Add Modal - START -->
	<div class="modal fade" id="addModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Genre</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Genre Name to be added:<br /> <input type="text"
							maxlength="45" ng-model="addedGenreName">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="setNewGenre()" data-dismiss="modal">Add genre</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END - Add Modal - END -->
	
	<!-- START- Add book name modal - START -->
	<div class="modal fade" id="addBookNameModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Book </h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Genre Name to be added:<br /> <input type="text"
							maxlength="45" ng-model="addedGenreName">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="setNewGenre()" data-dismiss="modal">Add genre</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END - Add book name modal - END -->
</div>
