<div class="container marketing" ng-controller="bookController">
	<h1>List of Books in LMS</h1>
	<div class="col-md-4 mb-3">
		<label for="validationCustomUsername">Search by Book Names</label>
		<div class="input-group">
			<input type="text" class="form-control" id="validationCustomUsername"
				ng-model="searchTitle" placeholder="Book Name"
				aria-describedby="inputGroupPrepend" required
				ng-change="searchBook()">
			<div class="invalid-feedback">Please choose a book name.</div>
		</div>
	</div>
	<div class="col-md-10">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.prevPage()">&laquo;</a></li>
			<li class="page-item"
				ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a class="page-link"
				href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<div id="listOfBooks">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Book Title</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="book in ::books | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
					<td>{{$index+1}}</td>
					<td>{{book.title}}</td>
					<!--<td><span ng-repeat="g in book.genres">{{g.genreName}}<span
							ng-if="!$last"> , </span></span></td>
					 <td><span ng-repeat="a in book.authors">{{a.authorName}}<span
							ng-if="!$last"> , </span></span></td>-->
					<th scope="col"><button type="button" class="btn btn-primary"
							data-toggle="modal" data-target="#editBookModal"
							ng-click="passToBook(book)">Edit</button></th>
					<th scope="col"><button type="button" class="btn btn-danger"
							ng-click="deleteBook(book)">Delete</button></th>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-primary"
			onclick="window.location.href='#/addbookpublisher'">Add New Book</button>
	</div>	
	
	<!-- START- EDIT Modal - START -->
	<div class="modal fade" id="editBookModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter new book name to edit:<br /> <input type="text" size="40"
							maxlength="45" ng-model="passBook.title"
							value="passBook.title">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="editBook()" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
