<div class="container marketing" ng-controller="librarianController">
	<h1>Library Branches List</h1>
	<div class="col-md-10">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.prevPage()">&laquo;</a></li>
			<li class="page-item"
				ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a class="page-link"
				href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<div id="listOfBranches">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Branch name</th>
					<th scope="col">Branch address</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="branch in ::branches | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
					<td>{{$index+1}}</td>
					<td>{{branch.branchName}}</td>
					<td>{{branch.branchAddress}}</td>
					<th scope="col"><button type="button" class="btn btn-primary"
							data-toggle="modal" data-target="#editDetailsModal"
							ng-click="editLibraryDetails(branch)">Edit Details</button></th>
					<th scope="col"><button type="button" class="btn btn-primary"
							data-toggle="modal" data-target="#showInventoryModal"
							ng-click="readInventoryById(branch)">Edit Inventory</button></th>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- START - Edit Details modal - START -->
	<div class="modal fade" id="editDetailsModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Author</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Branch Name to be edited:<br /> <input type="text"
							maxlength="45" ng-model="branch.branchName"
							value="branch.branchName">
					</div>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter Branch Address to be edited:<br /> <input type="text"
							maxlength="45" ng-model="branch.branchAddress"
							value="branch.branchAddress">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="editLibrary()" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--END - Edit Details modal - END -->
	
	<!-- START - Show Inventory modal - START -->
	<div class="modal fade" id="showInventoryModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Number of Copies</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-md-10">
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href=""
								ng-click="pagination1.prevPage()">&laquo;</a></li>
							<li class="page-item"
								ng-repeat="n in [] | range: pagination1.numPages"
								ng-class="{active: n == pagination1.page}"><a
								class="page-link" href="" ng-click="pagination1.toPageId(n)">{{n+1}}</a></li>
							<li class="page-item"><a class="page-link" href=""
								ng-click="pagination1.nextPage()">&raquo;</a></li>
						</ul>
					</div>
					<div id="listOfInventries">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Book Title</th>
									<th scope="col">Number of Copy</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="inventory in ::inventories | startFrom: pagination1.page * pagination1.perPage | limitTo: pagination1.perPage">
									<td>{{$index+1}}</td>
									<td>{{inventory.book.title}}</td>
									<td>{{inventory.copies}}</td>
									<th scope="col"><button type="button"
											class="btn btn-primary" data-toggle="modal"
											data-dismiss="modal" data-target="#editInventoryModal"
											ng-click="passInventory(inventory)">Edit Copy</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END - Show Inventory modal - END -->
	
	<!-- START - Edit Inventory modal - START -->
	<div class="modal fade" id="editInventoryModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Copy Number</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						Enter new copy number : &nbsp&nbsp&nbsp<input type="text" maxlength="45" size="2"
							ng-model="passInventory.copies" value="" placeholder="{{passInventory.copies}}">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary"
						ng-click="editInventory(passInventory)" data-dismiss="modal">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--END - Edit Inventory modal - END -->
</div>
</div>
